*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

img{
    width: 20rem;
}

li{
    font-size: 2.4rem;
}

.grid-two-cols{
    grid-template-columns: repeat(2, 1fr);
}

.navbar{
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 24px 5px;
}

.nav-items{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    &:hover{
        color: white;

    }
}

/***** Responsive design *****/ 
@media (width < 1545px) {
    html{
        font-size: 56.25%;
    }
}

@media (width < 1400px){
    html{
        font-size: 50%;
    }
}

@media (width < 1235px){
    html{
        font-size: 45%;
    }
}

@media (width < 1112px){
    html{
        font-size: 40%;
    }
}

@media (width < 990px){
    html{
        font-size: 35%;
    }
}
@media (width < 870px){
    html{
        font-size: 45%;
    }
}
@media (width < 695px){
    html{
        font-size: 40%;
    }
}

@media (width < 450px){
    html{
        font-size: 30%;
    }
}
/***** End Responsive design *****/

