@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", serif;
    line-height: 1.5;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section-hero-heading{

}


/***** Hero Section *****/ 
.hero-section{
    background-image: linear-gradient(to top right, 
    #eb84db,
    #da8ecf,
    #e190d5,
    #ffb3fb,
    #ebf3fe);

}

.hero-section-content{
    padding: 10rem 4.2rem;
}

.section-hero-heading{
    font-size: 6rem;
    font-weight: 700;
    text-transform: capitalize;
    /* padding: 1.2rem; */
    /* color: #e682d7; */
}

.section-hero-title{
    font-size: 4.2rem;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 2.8rem;
    /* padding: 2.2rem; */
    /* color: #e682d7; */
}

.hero-button{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #8093f1;
    padding: 1.2rem 3.2rem;
    margin: 4.8rem 2.4rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;

    &:hover{
        background-color: #8539e8;
        color: white;
   
    }
}

/***** End Hero Section *****/



/***** Properties Section *****/ 
.properties-section{
    margin: 10rem;
}

.property-icon{
    width: 5rem;
}

.properties-icon{
    font-size: 5rem;
    padding: 1.2rem;
    color: #6e00fe;
    
}

.properties-card{
    padding: 2rem;
    gap: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 7px 29px 0px;
    display: flex;

    & h1{
        font-size: 2.4rem;
    }
    & p{
        font-size: 1.6rem;
    }
}
/***** End Properties Section *****/


/***** Category Section *****/ 
.product-categories{
    padding: 4.2rem;


    & img{
        cursor: pointer;
        margin: 0 auto;
        width: 25rem;
        height: 25rem;
        box-shadow: rgba(100, 100, 111, 0.5) 2px 7px 29px 0px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all linear 0.5s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.5s;
        -ms-transition: all linear 0.5s;
        -o-transition: all linear 0.5s;

        &:hover{
            scale: 1.1;
        }
}

    & p{
        padding: 3rem;
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
    }
}
/***** End Category Section *****/


/***** review Section *****/ 
.review-card{
    padding: 4.2rem;
    margin: 4.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 7px 29px 0px;
}
/***** End review Section *****/


/***** Brands Section *****/ 
.brands-card{
    margin: 4.2rem;
    padding: 4.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 7px 29px 0px;

    & img{
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
    }

    & p{
        text-align: center;
        padding: 2.4rem;
    }
}
/***** End Brands Section *****/


/***** footer Section *****/ 
.footer-icons{
    font-size: 4.2rem;
    background-color: white;
    margin: 2.4rem;
    padding: 0.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    &:hover{
        rotate: 360deg;
        color: white;
        background-color: black;
    }
}

.footer-class{
    padding: 4.2rem;

    & img{
        margin: 2.4rem;
        width: 15rem;
    }

    & p{
        margin: 2.4rem;
        color: white;
    }
}

.quick-links{
    color: white;
    & li{
        padding: 2.4rem;
        font-size: 2.2rem;
    }
}

/***** End footer Section *****/


/***** About-us page Section *****/ 
.about-us{
    margin: 10rem;
    & h1{
        font-weight: 600;
        padding: 1rem;
        font-size: 4rem;
    }
    & h2{
        margin-top: 2rem;
        font-weight: 500;
        padding: 1rem;
        font-size: 3rem;
    }
    & h3{
        margin-top: 2rem;
        font-weight: 400;
        padding: 1rem;
        font-size: 2.5rem;
    }
    & p{
        margin-left: 3rem;
        margin-right: 3rem;
        /* font-weight: 600; */
        padding: 1rem;
        /* font-size: 4rem; */
    }
}
/***** End About-us page Section *****/

